#myCarousel {
    height: 100vh;
    width: 100%;
}

.carousel-caption {
    position: relative;
}

.carousel-inner > .item > video{
    margin: auto;
    height: 30vh;
    max-width: 100%;
}

#myCarousel a:hover {
    text-decoration: none;
}